/* style.css */
body {font-family:Tahoma;padding:92px;}
body { background:linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px), linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px), linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px), linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px), linear-gradient(-90deg, #aaa 1px, transparent 1px), linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px), linear-gradient(#aaa 1px, transparent 1px), #f2f2f2; background-size: 4px 4px, 4px 4px, 100px 100px, 100px 100px, 100px 100px, 100px 100px, 100px 100px, 100px 100px;}
#fileCount, h1 {position:fixed;color:white;padding:10px;background-color:rgba(0,0,0,0.8);}
#fileCount {right:100px;top:14px;} h1 {position:absolute;top:9px;left:100px;}
#fileCount span {font-weight:bold;}
#kbShorts {position:fixed;bottom:0px;}
#kbShorts a {
    overflow:hidden;
    text-align:center;
    display:inline-block;
    background-color:rgba(0,0,0,0.7);
    width:70px;
    margin-right:10px;
    padding:10px;
    border-radius:20px;
    border: 1px solid rgba(0,0,0,0,0.1);
    border-bottom: 8px solid grey;
    box-shadow:3px 3px 10px black;
}
#kbShorts span {line-height:40px;font-size:30px;text-transform:uppercase;}
#kbShorts a, #kbShorts a:link, #kbShorts a:visited, #kbShorts a:hover {color:white;text-decoration:none;}
#exifData {font-size:10px;margin-top:0;}
#theMove {position:absolute;}
img {border:3px solid #ddd;border-radius:4px;padding:5px;width:150px;height:150px;}
#kbShorts a:hover {border-bottom:1px solid grey;}
img:hover {box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);}
img:first-of-type {border-color:red;background-color:red;width:320px;height:320px;float:left;margin-right:10px;}